#name{
    float :left;
    color:white;
}
#meet{
    text-shadow:1px 1px black;
}
.names{
    padding-top:20px ;
    padding-bottom:20px;
}
 a{
    padding:30px;
}    

nav{
    float:right;
}
nav ul li  {
    display: inline;
    padding: 10px;
    color:white;
}
nav ul li a:hover {
    color: blueviolet;
}
nav ul li a{
    color:white;
}
.everything{
    background-color:white;
    margin-top:30px;
    margin-left:20px;
    margin-right:20px;
    
    padding-left:20px;
    padding-right:20px ;
    padding-bottom: 240px;
}
body{
    background-color: #7a8690;
}
img{
    float:right;
    padding-right: 0px;
    padding-top:0px;
    margin:0px;
}
#quote{
    background:black;
    color:white;
    padding-left:10px;
    padding-top:20px;
    padding-right:20px;
    padding-bottom:20px;
    margin-bottom:0px;
    margin-left:20px;
    margin-right:20px;
    word-spacing:3px;
}
#dark{
    float:left;
    margin-left:20px;
    margin-top:0px;
    padding-top:0px;
}
.phase2{
    background-color:cornflowerblueey;
}
#para{
    float:right;
    font-size:30px;
    padding-bottom:120px;
    padding-left:2px;
}
#para2{
    float:left;
    padding-top:2px;
}
